{{ partial "header.html" . }}

<body>
	{{ partial "navbar.html" . }}

	<div class="container is-fluid">

		<section class="section">
			<div class="container">
				<h1 class="title">About this blog</h1>
				<h2 class="subtitle">
					I always wanted to blog. This is kind of my New Year's resolution.<br />
					The intention of this blog is to post about things I learned.<br />My solutions won't be best practice, that's why I'm always happy if someone with more experience will give me some feedback.
				</h2>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<h1 class="title">About me</h1>
				<h2 class="subtitle">
					My name is Patrick Voß.<br/>I'm currently a computer science student at the Humboldt-University in Berlin.
				</h2>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<h1 class="title">Get in contact</h1>
				<h2 class="subtitle">
					You can find me on <a href="https://www.xing.com/profile/Patrick_Voss22">Xing</a> and <a href="https://www.linkedin.com/in/patrick-voß-737698149
">LinkedIn</a>
				</h2>
			</div>
		</section>
	</div>
</body>